<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bai01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Bai01.Properties.Settings>
            <setting name="animal_first" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="animal_second" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="animal_third" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fruit_first" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fruit_second" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fruit_third" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vegetable_first" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vegetable_second" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vegetable_third" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="job_first" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="job_second" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="job_third" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="transport_first" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="transport_second" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="transport_third" serializeAs="String">
                <value>0</value>
            </setting>
        </Bai01.Properties.Settings>
    </userSettings>
</configuration>